<!-- add_student.html -->
{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                      View Students
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <th>First Name</th>
                                <td>{{ student.first_name }}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{ student.last_name }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ student.email }}</td>
                            </tr>
                            <tr>
                                <th>Picture</th>
                                <td><img src="{{ url_for('static', filename=student.picture_path.split('static/', 1)[1]) }}" alt="{{ student.first_name }} {{ student.last_name }}" width="300" height="300"></td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                  </div>

                <a href="{{ url_for('students.index') }}">Back to Students</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
